a#btn_tambah{
    border-radius: 12px;
    padding: 8px;
    transition: transform .2s;
    display: block;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    text-align: center;
}
a#btn_tambah:hover{
    text-decoration: none;
    text-align: center;
    color: white;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
div#formagenda{
    margin: 20px
}
