@import url('https://fonts.googleapis.com/css?family=Ruluko');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
}
div#konten{
    background-color: #69d2e7;
    height: 86px;
}
h3#h3Konten{
    margin-top: 10px;
}
div#agendaSekarang{
    font-weight: bold;
    height: 30rem;
    background-color: #94ebcd59;
}
li#listAgendaSekarang{
    background-color: #94ebcd59;
}
div#agendaBerikutnya{
    height: 15rem;
}
div#card{
    border: 2px solid black;
    height: 285px;
}

div#card:nth-child(odd){
    background-color: #69d2e794;
}
div#card:nth-child(even){
    background-color: #a7dbd888;
}
#watch {
    font-family: 'Ruluko', sans-serif;
    color: rgb(255, 229, 209);
    font-size: 2.6vw;
    -webkit-text-stroke: 3px rgb(85, 85, 85);
}